.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #efefef;
    padding: 75px 0;
    box-sizing: border-box;
}

.empty {
    margin-top: 50px;
    padding-left: 50px;
}

.emptyText {
    font-weight: bold;
}