
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    padding: 40px 10% 20px 10%;
    box-sizing: border-box;
    align-items: baseline;
}

.actions {
    display: flex;
    align-items: baseline;    
    gap: 16px;                
    justify-content: flex-end;
    overflow-x: auto; 
    margin-bottom: 10px;
}

.post {
    width: 100%;
    box-sizing: border-box;
}


.title {
    font-size: 50px;
    font-weight: 600;
    border: none;
    width: 100%;
    box-sizing: border-box;
    line-height: 1.1;
    outline: none;
    background-color: transparent;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    resize: none;
    display: block;
}

.topBar {
    display: flex;
    align-items: baseline;    
    gap: 16px;                
    justify-content: flex-start;
    overflow-x: auto; 
    margin-bottom: 10px;
}

.label {
    font-size: 20px;
    font-weight: 600;
    line-height: 1; 
    color: gray;
    white-space: nowrap; 
}

.value {
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-radius: 6px;
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    outline: none;
    overflow-wrap: break-word;
    resize: none;
    display: block;
    margin-top: 5px;
}

.bigLabel {
    font-size: 20px; 
    font-weight: 600; 
    color: black; 
    border-bottom: 2px solid #007BFF; 
    display: inline-block; 
    padding-bottom: 1;
}

.content {
    font-size: 20px;
    font-weight: 400;
    border: none;
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    outline: none;
    overflow-wrap: break-word;
    resize: none;
    display: block;
    margin-top: 5px;
}

.splitLine {
    height: 1px; 
    background-color: black; 
    margin: 20px 0;
    width: 100%;
}

.blocks {
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
}

.codeContainer {
    display: flex; 
    flex-direction: column; 
    gap: 16; 
    align-items: stretch  
}

.code {
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-radius: 6px;
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    outline: none;
    overflow-wrap: break-word;
    resize: none;
    display: block;
    margin-top: 5px;
    background-color: #F0E7D1;
    margin-bottom: 10px;
}

.hashtag {
    color: black;
    background-color: #D9D9D9;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    padding: 8px 14px;
    white-space: nowrap;
    margin-right: 30px;
}

.hashtagList {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 12px;
}

