.back {
  font-size: 20px;
  font-weight: 500;
  background-color: transparent;
  color: black;
  border: none;
  padding: 20px 20px;
  cursor: pointer;
}

.add {
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px;
  background-color: transparent;
  color: gray;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.hashtag {
  color: black;
  background-color: #D9D9D9;
  font-size: 20px;
  font-weight: 500;
  border-radius: 8px;
  padding: 8px 14px;
  white-space: nowrap;
  margin-right: 30px;
}

.save {
  color: #5a5a5a;
  border: 2px solid #5a5a5a;
  font-size: 20 ₩px;
  font-weight: 500;
  border-radius: 8px;
  padding: 4px 14px;
  white-space: nowrap;
  margin-right: 30px;
  margin: 0 auto;
}