.title {
  font-size: 50px;
  font-weight: 600;
  border: none;
  width: 100%;
  box-sizing: border-box;
  line-height: 1.1;
  outline: none;
  background-color: transparent;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  resize: none;
  display: block;
}

.plain {
  font-size: 20px;
  font-weight: 400;
  border: none;
  border-radius: 6px;
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
  outline: none;
  overflow-wrap: break-word;
  resize: none;
  display: block;
  margin-top: 5px;
}

.mini {
  font-size: 20px;
  font-weight: 500;
  border: none;
  width: 240px;
  padding: 0px 10px;
  box-sizing: border-box;
  outline: none;
  white-space: nowrap;
  overflow-wrap: break-word;
  resize: none;
  display: block;
  margin-top: 5px;
  margin-bottom: 8px;
  max-height: 30px;
}